# 이 저장소는 소개용이다.
# 실수로 소스가 딸려 올라가지 않도록 **모두 무시하고 담을 것만 골라 넣는다.**
# (금지 목록 방식이면 새 폴더가 생길 때마다 새는 구멍이 된다)
/*
!/.gitignore
!/LICENSE
!/README.md
!/README.en.md
!/docs/
/docs/*
!/docs/img/
/docs/img/*
!/docs/img/ngx-dashboard.png
